# Virtual Environment
venv/

# Database
db.sqlite3
*.sqlite3

# Django project specific
*.log
local_settings.py
__pycache__/
*.pyc

# Media files (user-uploaded images)
origins/
products/
profiles/
blog/